body {
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

.header-container {
    width: 100%;
    margin: 0;
    display: inline-grid;
    grid-column-gap: 0;
    grid-template-columns: 300px auto 80px;
    grid-template-rows: 60px 60px auto;
    grid-template-areas:
            "header header header"
            "pagelinks headerspace social";
    align-items: stretch;
}

.header-style {
    background-color: #8c8c8c;
    color: white;
    grid-area: header;
    place-self: center stretch;
    text-align: center;
}

.pagelinks {
    /*background-image: linear-gradient(to bottom, rgba(140, 140, 140, 0), rgba(140, 140, 140, 0));*/
    /*background-color: #8c8c8c;*/
    grid-area: pagelinks;
    align-self: center;
    z-index: 1;

}

.pagelink-text{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    opacity: .75;
    transition: 0.2s;
    text-decoration: none;
}

.pagelink-text:hover {
    opacity: 1;
}

.social-style {
    /*background-color: #8c8c8c;*/
    align-self: center;
    justify-self: right;
    margin-right: 20px;
    color: white;
    grid-area: social;
    z-index: 1;
}

.headerspace{
    grid-area: headerspace;
    /*background-color: #8c8c8c;*/
    color: white;
    z-index: 0;
}

.banner-image{
    max-width: 100%;
    min-width: 600px;
    height: auto;
    margin-top: -60px;
    z-index: -1;
    /*-webkit-filter: opacity(.8);*/
    /*filter: opacity(.8);*/
}

.attribution {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.attribution-text {
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.attribution-text:hover {
    color: #18ff00;
}

.linkedin-to-white {
    filter: invert(100%) sepia(0%) saturate(7471%) hue-rotate(34deg) brightness(96%) contrast(108%);
}

.linkedin-to-white:hover {
    filter: invert(29%) sepia(68%) saturate(3667%) hue-rotate(182deg) brightness(89%) contrast(101%);
}

.maillink {
    color: white;
    text-decoration: none;
}

.maillink:hover {
    color: #ff3e41;
}


